@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.woff2') format('woff2'),
       url('/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.woff') format('woff'),
       url('/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@import 'tailwindcss';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}
p {
  font-family: 'Satoshi-Variable', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #B4E50D;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9dc70c;
}

/* Firefox scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: #B4E50D #f1f1f1;
}
