@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import 'tailwindcss';


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
p {
  font-family: 'Roboto', sans-serif;
}
